/* @group Sidebar */

#cachify_sidebar_icon {
	width: 11px;
	height: 9px;
	border: 0;
	display: inline-block;
	background: url(../img/icon.png) no-repeat;
}

/* @end group */


/* @group Adminbar */

#wp-admin-bar-cachify .ab-label {
	margin-left: 4px;
}
#wp-admin-bar-cachify .ab-icon {
	position: relative;
	float: left;
	width: 16px;
	height: 16px;
	margin-top: 6px;
	background: url(../img/icon16.png) no-repeat 0 -1px;
}

/* @end group */


/* @group GUI */

#icon-cachify {
	background: url(../img/icon32.png) no-repeat;
}

#cachify_main .form-table th {
	width: 220px;
	line-height: 26px;
}
#cachify_main .form-table th span {
	font-size: 11px;
	white-space: nowrap;
}
#cachify_main .form-table th span a {
	padding: 0 1px;
	text-decoration: none;
}

/* @end group */